body {
    margin: 0;

    height: 100%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "content";

    background-color: #4c494f;
}

#content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card {
    flex: 1;
    margin: 50px;
    width: 75%;
    border-radius: 25px;
    overflow: hidden;
    background-color: rgb(50, 50, 50);

    display: grid;
    grid-template-rows: 20% auto 20%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "light-strip light-strip"
        "toggle toggle"
        "on off";
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #9f9f9f;
}

.button {
    color: #9f9f9f;
    font-size: 7.5vh;
    font-family: Roboto;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#light-strip {
    grid-area: light-strip;
}

#on {
    grid-area: on;
    border-right: 3px solid rgb(40, 40, 40);
}

#off {
    grid-area: off;
}

#toggle {
    border-bottom: 3px solid rgb(40, 40, 40);
    border-top: 3px solid rgb(40, 40, 40);
    grid-area: toggle;
}